<div class="content-main">
  <div class="sub-main">
    <div class="main-left">
      <div class="card-header">
        <h1 class="title">Face Scan</h1>
        <h3>¡Hola, Bienvenido! 👋</h3>
        <br>
        <small>
          <p class="lh-2">Sistema de reconocimiento facial mediante el uso de la camara web de tu ordenador, carga tus imagenes e identificalas mediante FaceApi</p>
        </small>
        <div class="btn-group">
          <button class="btn-primary" type="submit">Cargar Foto</button>
          <button class="btn-primary" type="submit">Iniciar Scan</button>
        </div>
      </div>

      <div class="card-header">
        <p class="text-center">
          <span>Aplicacion realizada con</span>
          <br>
          <small>
            <span>Face Api - Angular - TypeScript - Base de datos Firebase</span>
          </small>
        </p>
        <div class="btn-wrapper text-center">
          <a href="javascript:void(0)" class="btn btn-neutral btn-icon card">
            <span class="btn-inner--icon">
              <i class="uil uil-facebook-f"></i>
            </span>
          </a>
          <a href="javascript:void(0)" class="btn btn-neutral btn-icon card">
            <span class="btn-inner--icon">
              <i class="uil uil-github"></i>
            </span>
          </a>
          <a href="javascript:void(0)" class="btn btn-neutral btn-icon card">
            <span class="btn-inner--icon">
              <i class="uil uil-linkedin"></i>
            </span>
          </a>
          <a href="javascript:void(0)" class="btn btn-neutral btn-icon card">
            <span class="btn-inner--icon">
              <i class="uil uil-link"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="main-right">
      <img class="img-face-scan" src="../../../../../assets/image/bnnface.png" alt="">
    </div>
  </div>
</div>
