<div class="content-main">
  <div class="sub-main">
    <div class="main-left">
      <div class="card-header">
        <div class="sub-card">
          <h3 class="title">Cargar imagen</h3>
          <div class="card-img">
            <div class="sub-card-img fotoUser">
              <img [src]="imgSCAN" class="img-face-scan">
            </div>
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="imageForm" class="form">
            <div class="request-face-api" #imageFile></div>
            <div class="form-group">
              <div class="fotoUser container-btn-file" id="add-file">
                <label for="btn-file"><i class="uil uil-image-plus ico-file"></i>Adjuntar archivo</label>
                <input formControlName="imgFile" (change)="selectImage($event)" type="file"
                class="form-control-file" name="file" id="btn-file" formControlName="imgFile" accept="image/*">
              </div>
              <button type="submit" class="btn-submit" [disabled]="btnActive">
                <i class="uil uil-upload ico-file"></i>Guardar imagen
              </button>
            </div>
        </form>
        </div>
      </div>
    </div>

    <div class="main-right">
      <div class="card-header">
        <div class="sub-card">
          <h3>Rostro Procesados</h3>
            <div class="card-sub-table">
              <table class="table-header">
                  <thead>
                      <tr>
                          <th scope="col">Foto</th>
                          <th scope="col">Usuario</th>
                          <th scope="col">Accion</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let data of imgData">
                          <td data-label="Foto">
                            <img [src]="data.imgUrl" class="cover-img">
                          </td>
                          <td data-label="Usuario">{{data.nameImg}}</td>
                          <td data-label="Accion">
                            <button class="btn btn-danger" (click)="deleteUserImage(data.id, data.nameImg)">
                              <i class="uil uil-times-circle"></i>
                            </button>
                          </td>
                      </tr>
                  </tbody>
              </table>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
