.content-main, .main-left, .main-right, .card-header, .sub-card-img, .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content-main {
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(222, 95%, 7%, 0.75);
  border-radius: var(--border-radius-1);
  /*border: 1px yellow solid;*/
}

.sub-main {
  margin: 0px;
  padding: 0px;
  width: 95%;
  height: 95%;
  display: flex;
  /*border: 1px yellow solid;*/
}

.main-left, .main-right {
  margin: 2px;
  padding: 2px;
  width: 50%;
}

.card-header {
  margin: 0px;
  width: 90%;
  height: 90%;
  text-align: center;
  padding: 10px;
  background-color: hsla(222, 95%, 7%, 0.75);
  border-radius: var(--border-radius-1);
  /*border: 1px yellow solid;*/
}

.sub-card {
  margin: 0;
  height: 100%;
  width: 100%;
  /*background-color: hsla(222, 30%, 24%, 0.849);*/
  text-align: center;
  padding: 0 15px 0 15px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: start;
}

.title {
  width: 100%;
  /*border: 1px yellow solid;*/
}

.card-img {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70%;
  width: 100%;
  /*background-color: hsla(220, 13%, 23%, 0.925);
  border: 1px solid red;
  */
}
.sub-card-img {
  height: 270px;
  width: 270px;
  border: 5px dashed rgba(118, 134, 145, 0.5);
  background-color: hsla(222, 30%, 24%, 0.849);
  border-radius: var(--border-radius-1);
}

.img-face-scan {
  color: rgb(160, 172, 189);
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  object-fit: cover; /*busca el centro de la foto*/
}

.fotoUser{
  background-color: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
}
.fotoUser:hover{
  background-color: rgba(233, 236, 239, 0.2);
}
.fotoUser:active{
  border: rgba(118, 134, 145, 0.5) 2px solid;
  background-color:rgba(233, 236, 239, 0.2);
}

.container-btn-file input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.container-btn-file {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: 1px solid rgb(161, 171, 182);
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  border-radius: 25px;
}

.container-btn-file label {
  font-size: 15px;
  display: block;
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.ico-file {
  padding-right: 10px;
}

.btn-submit{
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 25px;
  border: 1px solid rgb(6, 93, 186);
  background-color: rgb(6, 93, 186);
  color: rgb(255, 255, 255);
}

.foto{
  height: 300px;
  width: 300px;
  border: rgba(118, 134, 145, 0.5) 5px solid;
  box-shadow: 4px 4px 4px 0px rgba(73, 73, 73, 0.5);
  border-radius: var(--border-radius-1);
  justify-content: center;
  align-items: center;
  object-fit: cover; /*busca el centro de la foto*/
}
.form {
  width: 100%;
}

.form-group {
  width: 100%;
  /*border: 1px solid yellow;*/
  display: flex;
  justify-content: space-around;
}

.request-face-api {
  height: 25px;
  /*background-color: #078565;*/
  display: flex;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/** TABLE **/
.card-sub-table{
  /*border: yellow 1px solid;*/
  max-height: 82%;
  overflow-y: scroll;
}

.card-sub-table::-webkit-scrollbar{
  width: 7px;
}

.card-sub-table::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: rgb(6, 93, 186);
  border-radius: 50px;
}

.table-header {
  width: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  padding-bottom: .5rem;
  border-collapse: collapse;
  border-radius: var(--border-radius-1);
  border-bottom: solid 1px var(--color-2);
}

.table-header td, .table-header th{
  padding: 12px 15px;
  text-align: center;
}

.table-header th{
  background-color: rgb(6, 93, 186);
}

.table-header tbody{
  /*border: 1px red solid;*/
  width: 50%;
}

.table-header tbody tr:nth-child(even){
  background-color: rgb(26, 26, 53);
}


.cover-img {
  width: 75px;
  height: 75px;
  border: rgb(26, 26, 53) 1px solid;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  object-fit: cover; /*busca el centro de la foto*/
  transition: transform .2s;
}

.cover-img:hover {
  transform: scale(2.0);
  border: rgb(6, 93, 186) 1px solid;
}

/*Responsive*/
@media(max-width: 500px) {
  .table-header thead{
    display: none;
  }

  .table-header .table-header tbody, .table-header tr, .table-header td{
    display: block;
    width: 100%;
  }

  .table-header tr{
    margin-bottom: 15px;
  }

  .table-header td{
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .table-header td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.btn-danger {
  margin: 0px;
  padding: 0px 1px;
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: rgb(198, 4, 42);
  color: #e3e1e1;
  cursor: pointer;
}
.btn-danger:hover {
  font-size: 25px;
  background-color: #e3e1e1;
  color: rgb(198, 4, 42);
}
