.content-main, .main-left, .sub-card-img, .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*border: 1px red solid;*/
}

.content-main {
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(222, 95%, 7%, 0.5);
  border-radius: var(--border-radius-1);
  /*border: 1px yellow solid;*/
}

.sub-main {
  margin: 0px;
  padding: 0px;
  width: 95%;
  height: 95%;
  display: flex;
}

.main-left, .main-right {
  margin: 2px;
  padding: 2px;
  width: 50%;
  /*border: 2px white solid;*/
}

.main-left {
  width: 40%;
}

.main-right {
  width: 60%;
}

.sub-card {
  margin: 0;
  height: 100%;
  width: 100%;
  /*background-color: hsla(222, 30%, 24%, 0.849);*/
  text-align: center;
  padding: 0 15px 0 15px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: start;
}
