<div *ngIf="modelsReady">
  <video  #asVideoElement

          (play)="listenerPlay()"
          *ngIf="stream"
          [srcObject]="stream"
          [style.width]="width+'px'"
          [style.height]="height+'px'">
  </video> <!--(loadedmetadata)="loadedMetadata()"-->
</div>

<div *ngIf="modelsReady" class="video-btn">
  <button (click)="enableDetection()" type="button" class="btn">
    <i class="uil" [ngClass]="{'uil-video': state === 'paused', 'uil-video-slash': state !== 'paused'}"></i>
  </button>
</div>

<div *ngIf="!modelsReady" class="card-model-ia">
  <div class="subcard-model-ia">
    <br><br><br><br><br>
    <div class="loadingio-spinner-dual">
      <div class="ldio">
        <div></div><div><div></div></div>
      </div>
    </div>
    <p>Cargando modelos de IA...<p>
  </div>
</div>

<div *ngIf="!loading" class="loading">
  <p>{{loadingText}}</p>
</div>
