:host, .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  padding: 0px;
  height: 95%;
  /*border: yellow 1px solid;*/
}

.card-header {
  margin: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  background-color: hsla(222, 95%, 7%, 0.75);
  border-radius: var(--border-radius-1);
}

.sub-card {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0 15px 0 15px;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: start;
}

.card-sub-table{
  max-height: 82%;
  overflow-y: scroll;
}

.card-sub-table::-webkit-scrollbar{
  width: 7px;
}

.card-sub-table::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: rgb(6, 93, 186);
  border-radius: 50px;
}

.table-header {
  width: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  padding-bottom: .5rem;
  border-collapse: collapse;
  border-radius: var(--border-radius-1);
  border-bottom: solid 1px var(--color-2);
}

.table-header td, .table-header th{
  padding: 12px 15px;
  text-align: center;
}

.table-header th{
  background-color: rgb(6, 93, 186);
}

.table-header tbody{
  width: 50%;
}

.table-header tbody tr:nth-child(even){
  background-color: rgb(26, 26, 53);
}

.cover-img {
  width: 75px;
  height: 75px;
  border: rgb(26, 26, 53) 1px solid;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  object-fit: cover; /*busca el centro de la foto*/
  transition: transform .2s;
}

.cover-img:hover {
  transform: scale(2.0);
  border: rgb(6, 93, 186) 1px solid;
}

/*Responsive*/
@media(max-width: 500px) {
  .table-header thead{
    display: none;
  }

  .table-header .table-header tbody, .table-header tr, .table-header td{
    display: block;
    width: 100%;
  }

  .table-header tr{
    margin-bottom: 15px;
  }

  .table-header td{
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .table-header td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.btn-danger {
  text-align: center;
  margin: 0px;
  padding: 0px 1px;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: rgb(198, 4, 42);
  color: #e3e1e1;
  cursor: pointer;
}
.btn-danger:hover {
  font-size: 25px;
  background-color: #e3e1e1;
  color: rgb(198, 4, 42);
}

/** LOADING **/
@keyframes ldio {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio div { box-sizing: border-box!important }
.ldio > div {
  position: absolute;
  width: 84.36px;
  height: 84.36px;
  top: 14.819999999999999px;
  left: 14.819999999999999px;
  border-radius: 50%;
  border: 11.399999999999999px solid #000;
  border-color: #dce4eb transparent #dce4eb transparent;
  animation: ldio 1s linear infinite;
}
.ldio > div:nth-child(2) { border-color: transparent }
.ldio > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio > div:nth-child(2) div:before, .ldio > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 11.399999999999999px;
  height: 11.399999999999999px;
  top: -11.399999999999999px;
  left: 25.08px;
  background: #dce4eb;
  border-radius: 50%;
  box-shadow: 0 72.96px 0 0 #dce4eb;
}
.ldio > div:nth-child(2) div:after {
  left: -11.399999999999999px;
  top: 25.08px;
  box-shadow: 72.96px 0 0 0 #dce4eb;
}
.loadingio-spinner-dual {
  width: 114px;
  height: 114px;
  display: inline-block;
  overflow: hidden;
  background: rgba(241, 242, 243, 0);
}
.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio div { box-sizing: content-box; }
